@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: '#191C24';
  --primary: '#AF1763';
  --secondary: '#0DCAF0';
  --success: '#198754';
  --danger: '#AB2E3C';
  --warning: '#FFC107';
  --info: '#0D6EFD'; */
}

[data-theme='light'] {
  --background: theme('colors.slate.200');
  --foreground: theme('colors.slate.300');
  /* --------------------------- */
  --primary: theme('colors.blue.500');
  --success: theme('colors.green.600');
  --danger: theme('colors.red.700');
  --warning: theme('colors.amber.300');
  --info: theme('colors.sky.500');
  /* --------------------------- */
  --text-primary: theme('colors.slate.900');
}

[data-theme='dark'] {
  --background: theme('colors.slate.900');
  --foreground: theme('colors.slate.700');
  /* --------------------------- */
  --primary: theme('colors.fuchsia.700');
  --success: theme('colors.emerald.700');
  --danger: theme('colors.red.800');
  --warning: theme('colors.amber.500');
  --info: theme('colors.blue.500');
  /* --------------------------- */
  --text-primary: theme('colors.red.200');
}

[data-theme='emerald'] {
  --background: '#191C24';
  --primary: '#AF1763';
  --secondary: '#0DCAF0';
  --success: '#198754';
  --danger: '#AB2E3C';
  --warning: '#FFC107';
  --info: '#0D6EFD';
}

[data-theme='pink'] {
  --background: '#191C24';
  --primary: '#AF1763';
  --secondary: '#0DCAF0';
  --success: '#198754';
  --danger: '#AB2E3C';
  --warning: '#FFC107';
  --info: '#0D6EFD';
}
